* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap-original {
      overflow: hidden;
}

header {
      width: 100%;
      height: 50px;
      background-color: #FF9A4B;
}

main {
      width: 960px;
      margin: 50px auto;
}

.box-list {
      display: flex;
      justify-content: center;
}

.box1 {
      width: 300px;
      padding: 10px;
      background-color: #EEEEEE;
      position: relative;
      margin-right: 30px;
}

.box2 {
      width: 300px;
      padding: 10px;
      background-color: #EEEEEE;
      position: relative;
      margin-right: 30px;
}

.box3 {
      width: 300px;
      padding: 10px;
      background-color: #EEEEEE;
      position: relative;
}

.step {
      color: #FFF;
      background-color: #FF9A4B;
      position: absolute;
      top: 0;
      left: 0;
}

.image {
      height: 150px;
      background-size: cover;
      background-position: bottom;
}

.image1 {
      background-image: url(img/flow01.png);
}

.image2 {
      background-image: url(img/flow02.png);
}

.image3 {
      background-image: url(img/flow03.png);
}

.title-style {
      padding-top: 15px;
      padding-bottom: 5px;
}

footer {
      width: 100%;
      height: 50px;
      background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
      header {
            width: 100%;
      }

      main {
            width: 100%
      }

      .box-list {
            width: 100%;
            display: block;
            margin: 50px 5%;
      }

      .box1 {
            width: 90%;
            margin-bottom: 20px;
      }

      .box2 {
            width: 90%;
            margin-bottom: 20px;
      }

      .box3 {
            width: 90%;
      }

     footer {
           width: 100%;
     }

}